@import "../../shared/config/_common.scss";

$TopNavSize: 60px;
$BottomNavSize: 60px;
$DefaultListSize: 365px;

$NavBtnSize : 35px;

.SideBar {
	height: 100%;
	width: $DefaultListSize;
	
	border-right: $default-border-size solid $border-color;

	.Wapper {
		width: 100%;
		height: 100%;
	}

	.Contents{
		height: calc(100% - (#{$BottomNavSize} + #{$TopNavSize}));
		width: 100%;

		margin: 0 auto;
		padding: 0;
	}

	.TopNav {
		position: relative;

		top: 0;
		height: $TopNavSize;

		margin: 0 auto;
		padding: 0;

		overflow: hidden;

		background-color: gray;

		.Title {
			position: absolute;
			left: 0;
		}

		.Options {
			position: absolute;
			right: 0;
		}
	}

	.BottomNav {
		bottom: 0;
		height: $BottomNavSize;

		background-color: gray;

		margin: 0 auto;
		padding: 0;
	}
	
	.Nav {
		margin: 0 auto;
		padding: 0;

		li {
			display: inline-block; 
			list-style: none; 
			width: $NavBtnSize;
			height: $NavBtnSize;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}